body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*main { display: flex; }
main > article { order: 2; min-width: 12em; flex:1; }
main > nav     { order: 1; width: 200px; }
main > aside   { order: 3; width: 200px; }*/
/* header */
.header_pic{
    background-image: url("https://i.ibb.co/NymDWXT/top-view-over-heart-shaped-lollipops-1.jpg");
    width: 100%;
    height: 150px;
    background-position: center;
    background-size: cover;
}
.header{
    width: 100%;
    height: 2.9em;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    background-color: #ec3d72;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_inner{
    display: flex;
    margin-left: 50px;
    margin-right: 20px;
}
.header_logo{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: white;

}

.nav{
    display: flex;
    flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
    justify-content: flex-end;
    font-size: 15px;
    text-transform: uppercase;
    padding-right: 50px;
    padding-left: 20px ;
}
@media all and (max-width: 900px), modile {
    .nav{
        visibility: hidden;
    }

}
.nav_link{
    margin: 0 15px;

    font-weight: bolder;
    color: #fff;
    padding: 7px;
    background-color: #ec3d72;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color .3s linear;

}
.nav_link:hover {
    background-color: #9d3258;
}

/* Intro */
#intro{
    align-items: center;
    flex-flow: row wrap;
    padding-left: 80px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 80px;
    display: flex;
    width: 100%;
    background-color: #ebeff5;
}
a.idTop {
    position: fixed; /
    z-index: 9999; /*отображаем поверх всех элементов*/
    bottom: 0; /*положение снизу*/
    left: 0; /*положение справа*/
    margin-left: 10px;
    opacity: .6; /*прозрачность*/
}
a.idTop:hover {
    opacity:1;
}

.companyinfo{
    padding-right: 10px;
    padding-left: 10px;
}

.marmalade{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.text{
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 80px;
}
.text > h2{
    margin-bottom: 10px;
}
.pic_1{
    padding: 20px 20px 20px 20px;
    margin-right:40px;
    margin-left:40px ;
}
.img{
    width:300px;
    height:400px;
    margin-right:10px;
    margin-left:20px ;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(101, 97, 99);
}


/* Delivery */
 h2{
    position: relative;
     top:10px;
}
.deliveryinfo{
    width: 100%;
    padding-left: 80px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fadde8;
    line-height:1.5;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.aside{
    margin-top: 100px;
    margin-right: 20px;
    float:right;
}
/*Registration*/
.registration{
    margin: 5px 20px 20px 20px;
    line-height: 2;
}
.registration > p{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
}
.form{
    display: flex;
    justify-content: center;
}
legend{
    font-size: 20px;
}
button {
    padding: 10px 0;
    border-width: 0;
    display: block;
    width: 120px;
    margin: 10px auto 0;
    border-radius: 5px;
    background: palevioletred;
    color: #f5dde3;
    font-size: 14px;
    outline: none;
    text-transform: uppercase;
}
button:hover{
    color:lightpink;
}






/* Footer */
.footer{
    width: 100%;
}

footer > div{
    background-color: #9d3258;
    display: flex;
    justify-content: center;
    padding: 20px 20px 20px 20px;
}
address > a{
    color: #fadde8;
    font-size: 15px;
    text-decoration: none;
    margin: 10px 20px;
    padding: 5px 5px;
}

address > a:hover{
    background: #b92959;
    border-radius: 5px;
}

address > a:visited{
    color: #ebeff5;
}
address > a:active{
    color: #C65D7B;
}



